<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>remove</display-name>
    <servlet-name>remove</servlet-name>
    <servlet-class>project1.remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remove</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
  <display-name>Data_Management_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Editprocess</display-name>
    <servlet-name>Editprocess</servlet-name>
    <servlet-class>project1.Editprocess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editprocess</servlet-name>
    <url-pattern>/Editprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addstudent</display-name>
    <servlet-name>addstudent</servlet-name>
    <servlet-class>project1.addstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addstudent</servlet-name>
    <url-pattern>/addstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admincheck</display-name>
    <servlet-name>admincheck</servlet-name>
    <servlet-class>project1.admincheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admincheck</servlet-name>
    <url-pattern>/admincheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>staffeditprocess</display-name>
    <servlet-name>staffeditprocess</servlet-name>
    <servlet-class>project1.staffeditprocess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staffeditprocess</servlet-name>
    <url-pattern>/staffeditprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removestaff</display-name>
    <servlet-name>removestaff</servlet-name>
    <servlet-class>project1.removestaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removestaff</servlet-name>
    <url-pattern>/removestaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>staffaddprocess</display-name>
    <servlet-name>staffaddprocess</servlet-name>
    <servlet-class>project1.staffaddprocess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staffaddprocess</servlet-name>
    <url-pattern>/staffaddprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>staffcheck</display-name>
    <servlet-name>staffcheck</servlet-name>
    <servlet-class>project1.staffcheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staffcheck</servlet-name>
    <url-pattern>/staffcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>su</display-name>
    <servlet-name>su</servlet-name>
    <servlet-class>project1.su</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>su</servlet-name>
    <url-pattern>/su</url-pattern>
  </servlet-mapping>
</web-app>